* {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* intro */

.intro {
  font-size: 6.25vh;
}

.stronger {
  font-weight: 400;
}

/* collage */

.collage {
  margin-top: 9vh;
  display: flex;
}

.leftcollage {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 1.27vh;
}

.centercollage {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}

.rightcollage {
  display: flex;
  flex-direction: column;
  margin-left: 1.27vh;
  margin-top: 6.8vh;
}

/* rower */

.rowerContainer {
  height: 15.6vh;
  width: fit-content;
  margin-bottom: 1.27vh;
}

.rower {
  height: 100%;
  aspect-ratio: 0.818;
  object-fit: cover;
  object-position: 45% 50%;
}

/* horn player */

.hornplayerContainer {
  height: 28vh;
  width: fit-content;
}

.hornplayer {
  height: 100%;
  aspect-ratio: 0.818;
  object-fit: cover;
  object-position: 50% 50%;
}

/* CS student */

.csstudentContainer {
  height: 47.6vh;
  width: fit-content;
}

.csstudent {
  height: 100%;
  aspect-ratio: 0.818;
  object-fit: cover;
  object-position: 36% 50%;
}

/* photographer */

.photographerContainer {
  height: 20.1vh;
  width: fit-content;
  margin-bottom: 1.27vh;
}

.photographer {
  height: 100%;
  aspect-ratio: 0.818;
  object-fit: cover;
  object-position: 40% 50%;
}

/* road tripper */

.roadtripperContainer {
  height: 31.4vh;
  width: fit-content;
}

.roadtripper {
  height: 100%;
  aspect-ratio: 0.818;
  object-fit: cover;
  object-position: 50% 95%;
}

/* instructions */

.instructions {
  font-size: 1.95vh;
  margin-top: 5vh;
}

.zoom {
  font-weight: 400;
  font-style: italic;
}

.click {
  font-weight: 400;
}