body {
  height: 80px;
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #33a853;
  color: white;
}

.youHaveSurfed {
  font-size: 16px;
}

#duration {
  font-size: 34px;
}